1 VERSIONINFO 
 FILEVERSION 0,7,7,7
 PRODUCTVERSION 1   
 FILEOS VOS__WINDOWS32   
 FILETYPE VFT_DLL   
 BEGIN   
   BLOCK "StringFileInfo"   
   BEGIN   
     BLOCK "080904b0"   
     BEGIN   
       VALUE "CompanyName","The Road To Delphi\000"   
       VALUE "FileDescription","Delphi Wizard \000"   
       VALUE "FileVersion","0.7.7.7\000"   
       VALUE "InternalName","Delphi IDE Colorizer\000"   
       VALUE "LegalCopyright","The Road To Delphi Copyright 2014-2015\000"   
       VALUE "LegalTrademarks","The Road To Delphi\000"   
       VALUE "OriginalFilename","\000"   
       VALUE "ProductName","Delphi IDE Colorizer\000"   
       VALUE "Comments","RRUZ\000"   
     END   
   END   
   BLOCK "VarFileInfo"   
   BEGIN   
     VALUE "Translation", 0x0809 1200   
   END   
 END   
